<div class="d-flex flex-column bg-light h-100">
  <app-navbar></app-navbar>

  <div class="d-flex flex-fill flex-row">
    <div class="preview-column flex-fill p-2">
      <app-card-preview [data]="card_data" [form]="form_data"></app-card-preview>
    </div>
    <div class="form-column d-flex flex-column align-items-center justify-content-center mat-elevation-z8 p-2 bg-info text-light">
      <form (submit)="saveCard($event)">
        <h3>Customize this card!</h3>
        <ng-container *ngFor="let cinput of card_data.custom_inputs; let idx = index;">
          <ng-container *ngIf="cinput.type === 'textarea'">
            <label>Personal Message</label>
            <mat-form-field class="w-100">
              <textarea matInput [(ngModel)]="cinput.value" name="{{'sig' + idx }}" placeholder="Add a personal message here."></textarea>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="cinput.type === 'signature'">
            <label>Signature</label>
            <mat-form-field class="w-100">
              <input matInput [(ngModel)]="cinput.value" name="{{'sig' + idx }}" type="text" placeholder="Enter your name for the signature.">
            </mat-form-field>
          </ng-container>
        </ng-container>
        <button mat-raised-button>Save & Send!</button>
      </form>
    </div>
  </div>
</div>