<h1 class="text-primary">
  Welcome to the Birthday Templates page!
</h1>
<div>
  <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize>

  <h2 class="text-secondary">Gif Cards</h2>
  <mat-grid-list cols="2" rowHeight="2:1">
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b5.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b15.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b7.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b8.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b9.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b10.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b11.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b12.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b13.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b14.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b6.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
    <button (click)="onClickTemplate()">
      <mat-grid-tile><img src="../assets/img/birthday/b16.gif" width="500" height="270" alt="template image"></mat-grid-tile>
    </button>
  </mat-grid-list>

  <h2 class="text-secondary">Static Cards</h2>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile><button (click)="onClickTemplate()">
        <img src="../assets/img/birthday/b1.jpeg" width="400" height="400" alt="template image">
      </button></mat-grid-tile>
    <!-- <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize> -->
    <mat-grid-tile><button (click)="onClickTemplate()">
        <img src="../assets/img/birthday/b2.jpg" width="400" height="400" alt="template image">
      </button></mat-grid-tile>
    <mat-grid-tile><button (click)="onClickTemplate()">
        <img src="../assets/img/birthday/b3.jpg" width="400" height="400" alt="template image">
      </button></mat-grid-tile>
    <mat-grid-tile><button (click)="onClickTemplate()">
        <img src="../assets/img/birthday/b4.jpg" width="400" height="400" alt="template image">
      </button></mat-grid-tile>
  </mat-grid-list>
  <!-- <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize> -->

</div>




<!-- <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize> -->