<h1 class="text-primary">
  Welcome to the Birthday Templates page!
</h1>
<div>
  <!-- <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize> -->

  <h2 class="text-secondary">Gif Cards</h2>
  <div class="grid-list" cols="2" rowHeight="2:1">
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b5.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b15.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b7.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b8.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b9.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b10.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b11.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b12.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b13.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b14.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b6.gif" width="500" height="270" alt="template image">
      </div>
    </button>
    <button (click)="onClickTemplate()">
      <div class="grid-tile">
        <img src="/assets/img/birthday/b16.gif" width="500" height="270" alt="template image">
      </div>
    </button>
  </div>

  <h2 class="text-secondary">Static Cards</h2>
  <div class="grid-list" cols="2" rowHeight="1:1">
    <div class="grid-tile">
      <button (click)="onClickTemplate()">
        <img src="/assets/img/birthday/b1.jpeg" width="400" height="400" alt="template image">
      </button>
    </div>
    <div class="grid-tile">
      <button (click)="onClickTemplate()">
        <img src="/assets/img/birthday/b2.jpg" width="400" height="400" alt="template image">
      </button>
    </div>
    <div class="grid-tile">
      <button (click)="onClickTemplate()">
        <img src="/assets/img/birthday/b3.jpg" width="400" height="400" alt="template image">
      </button>
    </div>
    <div class="grid-tile">
      <button (click)="onClickTemplate()">
        <img src="/assets/img/birthday/b4.jpg" width="400" height="400" alt="template image">
      </button>
    </div>
  </div>
  <!-- <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize> -->

</div>




<!-- <app-customize *ngIf="showEditFormBool === true" [childInputVar]="listOfCards" (childOutputVar)="receivedFromCustomize($event)"></app-customize> -->