// * { /*debug*/
//       border: 1px dotted purple;
// }

.homepage-email {
  padding: 2rem 3rem;
  background-color: #6610f2ee;
  border: 2px solid#6610f2;
  color: white;
}
  
  .slide_block{
    margin: 3% 35%;
    text-align: center;
  }

  // .carousel-inner {
  //   max-height: 15rem;
  // }

  .carousel-item img {
    max-height: 15rem;
  }