<!-- <div style = 'background-image: url("../assets/img/wall.jpg");'> -->
<div class="d-flex flex-column h-100 bg-1">
  <app-navbar></app-navbar> <!-- Navbar goes inside the flexbox -->

  <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
    <label class="homepage-email mat-elevation-z8">Enter your email to continue.
      <input class="form-control" type="email" name="email" placeholder="Email" required>
      <button class="btn btn-primary" (click)="onSubmit()">Go to Cards!</button>
    </label>
  </div>

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/cards/collection"><img src="../assets/img/birthday/b15.gif" alt="Los Angeles"></a>
    </div>
    <div class="carousel-item">
      <a href="/cards/collection"><img src="../assets/img/birthday/b14.gif" alt="Chicago"></a>
    </div>
    <div class="carousel-item">
      <a href="/cards/collection"><img src="../assets/img/birthday/b13.gif" alt="New York"></a>
    </div>
    <div class="carousel-item">
      <a href="/cards/collection"><img src="../assets/img/birthday/b12.gif" alt="Los Angeles"></a>
    </div>
    <div class="carousel-item">
      <a href="/cards/collection"><img src="../assets/img/birthday/b11.gif" alt="Chicago"></a>
    </div>
    <div class="carousel-item">
      <a href="/cards/collection"><img src="../assets/img/birthday/b10.gif" alt="New York"></a>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>