// * { /*debug*/
//       border: 1px dotted purple;
// }

.homepage-email {
  padding: 2rem 3rem;
  background-color: rgba(63, 81, 181, .95);
  border: 2px solid rgb(63, 81, 181);
  color: white;
}
  
  .slide_block{
    margin: 3% 35%;
    text-align: center;
  }

  // .carousel-inner {
  //   max-height: 15rem;
  // }

  .carousel-item img {
    max-height: 15rem;
  }