<nav class="nav nav-fill bg-primary text-dark p-4">
  <div class="d-inline mr-auto">
    <span>
      <a href="/cards">
        <img src="/assets/img/logos/logo4.png" alt="logo" width="60" height="50">
      </a>
    </span>
  </div>
  <ul class="nav ml-auto">
    <!-- #TODO - add router links -->
    <li class="nav-item mr-2">
      <button class="btn btn-light">Birthday</button>
    </li>
    <li class="nav-item mr-2">
      <button class="btn btn-light">Christmas</button>
    </li>
    <li class="nav-item mr-2">
      <button class="btn btn-light">Friendship</button>
    </li>
    <i>(icon for create)</i>
  </ul>
</nav>