  .img-small-choice {
    display: inline-block;
    width: 16rem;
    height: 10rem;
    background: url(/assets/img/xmas1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    vertical-align: top;
  }
  label {
    display: block;
  }
  .create-form-wrapper {
    position: absolute;
    top: 0;
    z-index: 0;
    padding-top: rem;
    background-image: url(/assets/img/wall.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .create-form-wrapper div {
    color: #fff;
    flex: 2;
  }
  
  .template-editor {
    position: relative;
  }

  .movable-input {
    width: 32rem;
    height: 2.5rem;
    border-radius: 8px;
  }

  .movable-image {
    width: 20rem;
  }

  .movable-personal-message {
    width: 32rem;
    height: 8rem;
    border-radius: 8px;
  }

  .movable-signature-field {
    width: 32rem;
    height: 2.5rem;
    border-radius: 8px;
  }

.movable-input-grid {
  position: absolute;
  top: 0;
  height: 100%;
  .movable {
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color .2s ease-in-out;
    background-color: #fff4;

    &:hover {
      background-color: #fffe;
      &::after {
        content: "";
        position: absolute;
        background-image: url('/assets/img/arrows.png');
        background-size: cover;
        height: 8rem;
        width: 8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        opacity: .4;
        transition: opacity .2s ease-in-out;
        }
      }
    }

    .cdk-drag-dragging.movable {
      z-index: 1001;
    }

    .cdk-drag-dragging.movable::after {
        opacity: 1;
    }
  }

  .example {
    display: inline-block;
    padding: .5em;
    border: 2px dotted #6f42c1;
    background-color: #6f42c122;
  }

  img.example {
    width: 16rem;
    height: 10rem;
  }

  .purple {
    background-color: hsl(261, 51%, 51%);
  }

  input, textarea {
    min-width: 16rem;
  }

  .tabgroup-min-height {
    min-height: 18rem;
  }
