  .img-small-choice {
    display: inline-block;
    width: 16rem;
    height: 10rem;
    background: url(/assets/img/xmas1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    vertical-align: top;
  }
  
  .create-form-wrapper {
    position: absolute;
    top: 0;
    z-index: 0;
    padding-top: rem;
    background-image: url(/assets/img/wall.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .create-form-wrapper div {
    color: #fff;
    flex: 2;
  }
  
  .template-editor {
    position: relative;
  }

  .movable-input-grid {
    position: absolute;
    top: 0;
    z-index: 100;

    .movable-input {
      width: 32rem;
      height: 2.5rem;
      background-color: #fff;
      border-radius: 8px;

    }

    .movable-input::after {
        content: "";
        display: inline-block;
        position: absolute;
        background-image: url('/assets/img/arrows.png');
        background-size: cover;
        width: 2.5rem;
        height: 2.5rem;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
  }