  .img-small-choice {
    display: inline-block;
    width: 16rem;
    height: 10rem;
    background: url(/assets/img/xmas1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    vertical-align: top;
  }
  label {
    display: block;
  }
  .create-form-wrapper {
    position: absolute;
    top: 0;
    z-index: 0;
    padding-top: rem;
    background-image: url(/assets/img/wall.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .create-form-wrapper div {
    color: #fff;
    flex: 2;
  }
  
  .template-editor {
    position: relative;
  }

  .movable-banner {
    min-width: 12rem;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }

  .movable-image {
    width: 20rem;
  }

  .movable-personal-message {
    width: 32rem;
    height: 12rem;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
  }

  .movable-signature-field, .sig-font {
    font-family: 'Dancing Script', cursive;
  }
  
  .movable-signature-field {
    width: 20rem;
    height: 5rem;
    border-radius: 8px;
    font-size: 4rem;
    line-height: 100%;
    text-align: center;
  }

.mat-form-field {
  width: 90%;
}

.movable-input-grid {
  position: absolute;
  top: 0;
  height: 100%;
  .movable {
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color .2s ease-in-out;
    background-color: #6f42c122;
    border: 2px dotted #6f42c1;

    &:hover {
      background-color: #6f42c166;
      &::after {
        content: "";
        position: absolute;
        background-image: url('/assets/img/arrows.png');
        background-size: cover;
        height: 4rem;
        width: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        transition: opacity .2s ease-in-out;
        }
      }
    }

    .cdk-drag-dragging.movable {
      z-index: 1001;
    }

    .cdk-drag-dragging.movable::after {
        opacity: .4;
    }
  }

  .example {
    display: inline-block;
    padding: .5em;
    border: 2px dotted #6f42c1;
    background-color: #6f42c122;
  }

  img.example {
    width: 16rem;
    height: 10rem;
  }

  .purple {
    background-color: hsl(261, 51%, 51%);
  }

  input, textarea {
    min-width: 16rem;
  }

  .tabgroup-min-height {
    min-height: 18rem;
  }
