<h3 class = "text-success">
  Create a New Template!
</h3>

<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Your name">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="description"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      
      <mat-select placeholder="Select">
        <mat-option value="option">Birthday</mat-option>
        <mat-option value="option">Christmas</mat-option>
        <mat-option value="option">Friendship</mat-option>
      </mat-select>
    </mat-form-field>
  </div>