<div>
  <app-navbar></app-navbar>
  <div>
    <div class="grid">
      <a href ="/cards/collection/birthday"><div class="grid-tile"><img src="../assets/img/birthday/b8.gif" width="500" height="270" alt="Los Angeles"></div></a>
      <a href ="/cards/collection/christmas"><div class="grid-tile"><img src="../assets/img/christmas/c1.gif" width="500" height="270" alt="Los Angeles"></div></a>
      <a href ="/cards/collection/friendship"><div class="grid-tile"><img src="../assets/img/friendship/f1.gif" width="500" height="270" alt="Los Angeles"></div></a>
      <a href ="/cards/collection/seasonal"><div class="grid-tile"><img src="../assets/img/birthday/s1.gif" width="500" height="270" alt="Los Angeles"></div></a>
    </div>
  </div>
</div>