<p>
  collection works!
</p>

<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <a href ="/cards/collection/birthday"><mat-grid-tile><img src="../assets/img/birthday/b8.gif" width="500" height="270" alt="Los Angeles"></mat-grid-tile></a>
    <a href ="/cards/collection/christmas"><mat-grid-tile><img src="../assets/img/christmas/c1.gif" width="500" height="270" alt="Los Angeles"></mat-grid-tile></a>
    <a href ="/cards/collection/friendship"><mat-grid-tile><img src="../assets/img/friendship/f1.gif" width="500" height="270" alt="Los Angeles"></mat-grid-tile></a>
    <a href ="/cards/collection/seasonal"><mat-grid-tile><img src="../assets/img/birthday/s1.gif" width="500" height="270" alt="Los Angeles"></mat-grid-tile></a>
  </mat-grid-list>
</div>