/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


<<<<<<< HEAD
=======
div.mat-step-icon-state-number {
  display: none !important;
}

.mat-step-icon {
  display: none !important;
  opacity: 0;
}
>>>>>>> 0195174564ccfee33879f5d66baf8b2c3b44d6d9
